<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- My CSS -->
    <link rel="stylesheet" href="css/style-home.css">

    <!-- BOX ICON -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <title>Asep Saepudin | Personal Website</title>
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="navContainer">
            <div class="navLeft">
                <div class="navLogo">
                    <img src="image/profile.jpg" alt="profile">
                </div>

                <div class="navMenu">
                    <ul>
                        <li class="navLinks">
                            <a href="/">Home</a>
                        </li>
                        <li class="navLinks">
                            <a href="/blog">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="navCta">
                <button class="contac"><a href="/contac">Contac Me</a></button>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <main class="main">
        <section class="main">
            <div class="cardLeft">
                <div class="cardContainer">
                    <a href="#"><img src="image/card.jpg" alt="profile" class="profileImage"></a>

                    <h1 class="headingName">Asep Saepudin</h1>
                    <p class="profileDesc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi asperiores minus dolorum eaque non
                        debitis aperiam rerum dignissimos, praesentium sed?
                    </p>
                    <div class="skillArea">
                        <i class='bx bxl-html5 bx-md'></i>
                        <i class='bx bxl-css3 bx-md'></i>
                        <i class='bx bxl-javascript bx-md'></i>
                    </div>
                    <div class="table">
                        <table>
                            <thead>
                                <th>Experience</th>
                                <th>Year</th>
                            </thead>
                            <tbody>
                                <td>Personal Portofolio</td>
                                <td>2021</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="contentRight">
                <h1 class="headingRight" style="color: #43ff88;">What I Do</h1>
                <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit autem odit, facilis
                    possimus, sapiente magni debitis dignissimos earum voluptatibus aperiam suscipit porro rem mollitia?
                    Accusantium velit maiores doloremque iste autem aspernatur sed quidem aut! Magnam nihil saepe
                    expedita at labore reprehenderit, maxime asperiores nemo, consequuntur ipsa totam autem nisi
                    pariatur.</p>

                <div class="boxLearn">
                    <div class="kotak">
                        <img src="image/javascript-logo-24.png" alt="js" class="js">
                        <h4 class="learnHeading">Frontend Developer</h4>
                        <p class="descKotak">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
                            excepturi?</p>
                    </div>

                    <div class="kotak">
                        <img src="image/github-logo-24.png" alt="github" class="github">
                        <h4 class="learnHeading">Version Control</h4>
                        <p class="descKotak">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
                            excepturi?</p>
                    </div>

                    <div class="kotak">
                        <img src="image/netlify-logo-24.png" alt="netlify" class="netlify">
                        <h4 class="learnHeading">Automated Development</h4>
                        <p class="descKotak">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
                            excepturi?</p>
                    </div>
                </div>

                <div class="social">
                    <i class='bx bxl-facebook-square bx-md'></i>
                    <i class='bx bxl-twitter bx-md'></i>
                    <i class='bx bxl-instagram bx-md'></i>
                    <i class='bx bxl-gmail bx-md'></i>
                    <i class='bx bxl-whatsapp bx-md'></i>
                </div>
            </div>

        </section>
    </main>
</body>

</html>