@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1d1d1d;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 0 15px;
}

a {
  color: white;
  text-decoration: none;
}

/* NAVBAR */
nav {
  width: 100%;
  margin: 0 auto;
  padding: 20px 5px;
  box-shadow: 0px 0px 20px black;
}

.navContainer {
  width: 1136px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navLogo img {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.navCta button {
  border: none;
  border-radius: 2px;
  padding: 10px;
  background-color: #43ff88;
}

.navCta button:hover {
  transition: ease-out 0.1s;
  background-color: white;
}

button a {
  color: black;
}

/* MAIN */
main {
  width: 1136px;
  height: 89vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.main {
  display: flex;
  align-items: center;
}

/* CARD */
.cardLeft {
  flex: 300px;
  width: 270px;
  padding: 1rem;
}

img.profileImage {
  width: 100%;
  border-radius: 15px;
}

.headingName,
.profileDesc,
.table {
  margin-bottom: 8px;
}

.contentRight {
  flex: 700px;
  margin-left: 1rem;
}

table {
  width: 100%;
  text-align: left;
}

table,
th,
td {
  padding: 7px;
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
}

.boxLearn {
  margin-top: 2rem;
  display: flex;
}

.js,
.github,
.netlify {
  width: 100px;
}

.social {
  margin-top: 2rem;
}

i {
  cursor: pointer;
}

i:hover {
  color: #43ff88;
}

/* RESPONSIVE */
@media screen and (max-width: 412px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    width: 100%;
    margin: 0 auto;
    padding: 20px 5px;
    box-shadow: 0px 0px 20px black;
  }

  .navContainer {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main {
    width: 100%;
    margin: 5px auto;
    display: flex;
    align-items: flex-end;
    height: auto;
  }

  section.main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .cardLeft {
    width: 100%;
  }

  .learnHeading {
    text-align: center;
    color: #43ff88;
  }

  .descKotak {
    text-align: center;
  }

  .social {
    text-align: center;
  }
}
